<body>
  <div class="header">
    <img src="../../assets/clarpio.png" alt="">
  </div>
  <div class="all">
    <div class="info">
      <div class="ima">
      <img src="../../assets/user.png" alt="">
      </div>
      <div class="text">
        <ion-item>
          <ion-input placeholder="Enter your username"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="info">
      <div class="ima">
       <img src="../../assets/contraseña.png" alt="">
      </div>
      <div class="text">
        <ion-item>
          <ion-input placeholder="Enter your password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="cecion">
      <ion-button color="danger" (click)="goToHome()">INICIAR SESION</ion-button>
    </div>
  </div>
</body>
