<ion-content class="Cuerpo">

<!-- Contenedor 1 -->
<ion-card class="cabecera">
  <ion-card-content>
    <img src="../../assets/Logo.png">
  </ion-card-content>

  
    
      <ion-card-content class="menu">
        <img src="../../assets/streamline_money-cash-dollar-coin-accounting-billing-payment-cash-coin-currency-money-finance.png">
        <img src="../../assets/Vector (1).png">
        <img src="../../assets/Vector.png">
        <img src="../../assets/Group.png">
      </ion-card-content>
    
</ion-card>


<!-- Contenedor 2 -->
<ion-card class="Actualizacion">
    <ion-card-content>
      <img src="../../assets/streamline_interface-arrows-synchronize-arrows-loading-load-sync-synchronize-arrow-reload.png">
    </ion-card-content>

  <ion-card class="ActDer">
      <ion-text>
        ACTUALIZACION : 06/10/23 A LAS 15:40
      </ion-text>
  </ion-card>
</ion-card>


<!-- Contenedor 3 -->
<ion-card class="INFODATOS" style="align-items: center;">
 
    <ion-card-content class="logoglobo" style="position: absolute;top: -10PX; left: 70px;">
      <img src="../../assets/ri_global-line.png">
    </ion-card-content>

    <ion-text class="TituloD" style="position: absolute;top: 20PX; left: 80px;">
      <strong> SALDO DE DATOS </strong>
    </ion-text>

    <ion-card-content class="CirculoDatos" style="position: absolute;top: 15px; left: 180px; width: 50%; height: 50%;">
      <img src="../../assets/9d7f3694d25722d48b425d184a6df734.png">
    </ion-card-content>
    
    <ion-button  style="position: absolute; width: 40%; height: 5%; font-size: smaller; left: 30px; top: 90px;" class="Boton" color="danger" (click)="godenuevo()">ACTIVAR PAQUETES</ion-button>

    <ion-text class="Datosusados" style="position: absolute;top: 198PX; left: 50px;font-size:xx-small;">
      <strong> UTILIZADO 618.43MB DE 10GB / DISPONIBLE 9.40GB</strong>
    </ion-text>

    <ion-card-content class="CirculoDatos" style="position: absolute;top: 198PX; left: -20px;">
      <img src="../../assets/image 4.png">
    </ion-card-content>


    <ion-text class="Datosusados" style="position: absolute;top: 250PX; left: 50px;font-size:xx-small;">
      <strong> VER SALDOS</strong>
    </ion-text>
    
    <ion-card-content class="FLECHITA" style="position: absolute;top: 228PX; left: 110px;">
      <img src="../../assets/ph_arrow-up-bold.png">
    </ion-card-content>
    
</ion-card>


<!-- Contenedor 5 -->
<ion-card class="Num">
  <ion-card-content>
    <ion-card-content class="logoglobo" style="position: absolute;top: -10PX; left: 70px;">
      <img src="../../assets/mingcute_cellphone-line (1).png">
    </ion-card-content>
  </ion-card-content>

  <ion-text class="TituloD" style="position: absolute;top: 20PX; left: 110px;">
    <strong> 0992246431 </strong>
  </ion-text>

  <ion-text class="TituloD" style="position: absolute;top:- 20PX; left: 110px;">
    <strong> AMIGO CHIP </strong>
  </ion-text>

  <ion-card-content class="FLECHITA" style="position: absolute;top: -10PX; left: 230px;">
    <img src="../../assets/emojione_flag-for-ecuador.png">
  </ion-card-content>
  

</ion-card>

<!-- Contenedor 6 -->
<ion-card class="Otros">
  <ion-card-content>
    <ion-text class="servicios" style="position: absolute;top: 20PX; left: 100px;height:20%;">
      <strong> SOLICITAR SERVICIOS </strong>
    </ion-text>
    <ion-card-content class="FLECHITA" style="position: absolute;top: 30PX; left: 230px;">
      <img src="../../assets/image 7.png">
    </ion-card-content>

    <ion-card-content class="FLECHITA" style="position: absolute;top: 60PX; left: 60px;">
      <img src="../../assets/material-symbols_circle.png">
    </ion-card-content>

    <ion-card-content class="FLECHITA" style="position: absolute;top: 60PX; left: 100px;">
      <img src="../../assets/material-symbols_circle.png">
    </ion-card-content>

  </ion-card-content>
</ion-card>

</ion-content>
