<body>
  <div class="header">
  <div class="barraNav">
    <div class="barraNav_izq">
     <img src="../../assets/Logo.png">
    </div>
    <div class="barraNav_der">

     <div class="der_up">
     <img src="../../assets/streamline_money-cash-dollar-coin-accounting-billing-payment-cash-coin-currency-money-finance.png">
     <img src="../../assets/Vector (1).png">
     <img src="../../assets/Vector.png">
     <img src="../../assets/gole.png">
     </div>

     <div class="der_down">
     <p>Dolares</p>
     <p>Ayuda</p>
     <p>Activaciones</p>
     <p>Perfil</p>
     </div>

    </div>
  </div>
  </div>
  <div class="infoAll">
   <div class="All_up">
   <div class="AllUp_up">
    <img src="../../assets/fluent_person-32-regular.png" alt="">
   </div>
   <div class="AllUp_down">
   <p>HOLA AQUI PUEDES EDITAR LOS DATOS DE TU FAMILIA</p>
   </div>
   </div>
   <div class="All_midle">
   <div class="midle_oks">
    <div class="midle_up">

      <div class="imas">
        <div class="imas_up">
          <img src="../../assets/majesticons_lock-line.png" alt="">
        </div>
        <div class="imas_down">
          CAMBIAR CONTRASEÑA
        </div>
      </div>
      
      <div class="imas">
        <div class="imas_up">
          <img src="../../assets/pajamas_settings.png" alt="">
        </div>
        <div class="imas_down">
          CONFIGURACION NOTIFICACIONES
        </div>
      </div>
      
      
      
    </div>
    <div class="midle_down">
      <div class="imas">
        
        <div class="imas_up">
          <img src="../../assets/prime_id-card.png" alt="">
        </div>
        <div class="imas_down">
          CONFIGURACION NOTIFICACIONES
        </div>

        
      </div>
      
    </div>
  </div>
  
  
   </div>
   <div class="All_down">
    <ion-button color="danger" (click)="goToPagina2()">CERRAR SESION</ion-button>
   </div>
  </div>
</body>